@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@300;400;600;700&display=swap");
body 
{
  font-family: "Open Sans", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
}

.layout_padding 
{
  padding: 90px 0;
}

.layout_padding2 {
  padding: 75px 0;
}

.layout_padding3 {
  padding: 50px;
}

.layout_padding2-top {
  padding-top: 75px;
}

.layout_padding2-bottom {
  padding-bottom: 75px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading_container h2 {
  position: relative;
  font-weight: bold;
  margin-bottom: 0;
}

.heading_container h2 span {
  color: #00bbf0;
}


.heading_container h1 {
  font-size: 2.5rem;
  position: relative;
  font-weight: bold;
  margin-bottom: 0;
}

.heading_container h1 span {
  color: #00bbf0;
}


.heading_container p {
  margin-top: 10px;
  margin-bottom: 0;
}

.heading_container.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*header section*/
.hero_area {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero_area .hero_bg_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
  z-index: -1;
}

.hero_area .hero_bg_box .bg_img_box {
  min-width: 100%;
  min-height: 100%;
}

.hero_area .hero_bg_box img {
  min-width: 100%;
  min-height: 100%;
}

.sub_page .hero_area {
  min-height: auto;
  background: linear-gradient(130deg, #231a6f, #0f054c);
}

.sub_page .hero_area .hero_bg_box {
  display: none;
}

.header_section 
{
  background-color: #00204a;
  /* background-color: #F2F0E1; */
  padding: 5px 0;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.navbar-brand span {
  font-weight: bold;
  font-size: 30px;
  color: #fff;
}

.custom_nav-container {
  padding: 0;
}


.custom_nav-container .navbar-nav {
  margin-left: auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link 
{
  font-weight: bold;
  padding: 5px 20px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link, .custom_nav-container .navbar-nav .nav-item.active .nav-link {
  color: #BAE9EE;
}

.custom_nav-container .navbar-nav .nav-item.active .nav-link {
  font-weight: 600;
}

.custom_nav-container .nav_search-btn {
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  color: #ffffff;
}

.custom_nav-container .nav_search-btn:hover {
  color: #00bbf0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #ffffff;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  top: -10px;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

/*end header section*/
/* slider section */
.slider_section {
  background-color:#f8f8f9;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  /* padding: 45px 0 45px 0; */
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section #customCarousel1 {
  width: 100%;
  position: unset;
}

.slider_section .detail-box {
  /* color: #00204a; */
  color: #fff;
  text-align: center;
}

.slider_section .detail-box h1 {
  font-size: 2rem;
  font-weight: bolder;
  text-transform: uppercase;
  margin-bottom: 15px;
  /* color: #34495E ; */
  color: #fff;
  margin-bottom: 50px;
}

.slider_section .detail-box h3 {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 15px;
  /* color: #34495E ; */
  color: #fff;
}

.slider_section .detail-box h4 {
  padding-left: 30px;
  padding-right: 30px;
  text-align: justify;
  /* color: #34495E ; */
  color: #fff;
  font-size: 20px;
}


.Hero_container 
{
  padding: 50px;
  border-radius: 20px;
  background: rgba(0,0,0,0.1);
  backdrop-filter: saturate(150%) brightness(100%) blur(5px);
}


.slider_section .detail-box p {
  padding-left: 50px;
  padding-right: 50px;
  text-align: justify;
  color: #34495E ;
  font-size: 20px;
}

.slider_section .detail-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -5px;
  margin-top: 25px;
}

.slider_section .detail-box .btn-box a {
  margin: 5px;
  text-align: center;
  width: 165px;
}

.slider_section .detail-box .btn-box .btn1 {
  display: inline-block;
  padding: 10px 15px;
  background-color: #00bbf0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.slider_section .detail-box .btn-box .btn1:hover {
  background-color: #007fa4;
}

.slider_section .detail-box .btn-box .btn2 {
  display: inline-block;
  padding: 10px 15px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.slider_section .detail-box .btn-box .btn2:hover {
  background-color: black;
}

.slider_section .img-box {
  margin: 45px 0;
}

.slider_section .img-box img {
  height: 400px;
  /* -webkit-animation: upDown 5s infinite;
          animation: upDown 5s infinite; */
}

.slider_section .shop_all
{
  text-align: center;
  padding-top: 40px;
}

.slider_section .shop_all .btn
{
  border: 1px solid black;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #BAE9EE;
  color: black;
}

.slider_section .shop_all .btn:hover
{
  background-color: #f8f8f9;
  color: black;
}


.contactus .shop_all
{
  text-align: center;
  padding-top: 40px;
}

.contactus .shop_all .btn
{
  border: 1px solid black;
  font-size: 1rem;
  font-weight: bold;
  background-color: #BAE9EE;
  color: black;
}

.contactus .shop_all .btn:hover
{
  background-color: #f8f8f9;
  color: black;
}

.about_section_product .shop_all
{
  text-align: center;
  padding-top: 40px;
}

.about_section_product .shop_all .btn
{
  border: 1px solid black;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #f8f8f9;
  color: black;
}

.about_section_product .shop_all .btn:hover
{
  background-color: #BAE9EE; 
  color: black;
}

.about_section_product a
{
  color: #000;
}

.nav-link
{
  text-align: start;
  padding: 10px 20px;
  font-weight: bold;
}

.types_items p
{
  border: 2px solid #00bbf0;
  color: #00bbf0;
  font-weight: bold;
  font-size: 18px;
  border-radius: 5px;
  padding: 10px;
}

.product_category .info
{
  text-align: justify;
  font-size: 20px;
}



.product_category h3
{
  color: #00bbf0;
}

.tab-pane
{
  border-left: 3px solid #0d6efd;
  padding-left: 20px;
  margin-bottom: 50px;
}


@-webkit-keyframes upDown {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
  50% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
  100% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
}

@keyframes upDown {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
  50% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
  100% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
}

.slider_section .carousel-indicators {
  position: unset;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section .carousel-indicators li {
  background-color: #ffffff;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  opacity: 1;
}

.slider_section .carousel-indicators li.active {
  width: 20px;
  height: 20px;
  background-color: #00bbf0;
}


.service_section {
  position: relative;
  background-color: #E5E5E5;
}

.service_section .heading_container
{
  margin-bottom: 50px;
}

.service_section .carousel-item 
{
  height: 320px;
}

.service_section .carousel-indicators
{
  margin-bottom: 0px;
}

.service_section .carousel-indicators button
{
  background-color: black;
}

.service_section .shop_all
{
  text-align: center;
  padding-top: 40px;
}

.service_section .shop_all .btn
{
  border: 1px solid black;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #BAE9EE;
  color: black;
}

.service_section .shop_all .btn:hover
{
  background-color: #f8f8f9;
  color: black;
}

.service_section .row
{
  margin-bottom: 30px;
}

.service_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 45px;
  background-color: #f8f8f9;
  padding: 20px;
  border-radius: 5px;
}

.service_section .box .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 125px;
  min-width: 75px;
  height: 75px;
  margin-bottom: 15px;
}

.service_section .box .img-box img {
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.service_section .box .detail-box h5 {
  font-weight: bold;
  text-transform: uppercase;
}

.service_section a 
{
  color: #00204a;
}

.service_section a:hover 
{
  color: #00204a;
}

.service_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.service_section .btn-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #00bbf0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.service_section .btn-box a:hover {
  background-color: #007fa4;
}

.service_section .product-card-1
{
  background-color: #f8f8f9;
  scale: 1;
  transition-duration: 200ms;

}

.service_section .product-card-1:hover
{
  background-color: #f8f8f9;
  scale: 1.05;
  transition-duration: 500ms;
  
}

.service_section .product-card-1 .center {
  margin: auto;
  padding: 10px;
}



.service_section .product-card-1 h2
{
  font-size: 1.5rem;
  font-weight: bold;
}

.service_section .product-card-1 p
{
  font-size: 1rem;
  text-align: justify;
}

.service_section .product-card-1 .img-box img
{
  height: 200px;
}



.service_section .product_1
{
  background-color: #F2F0E1;
  color: #00204a;
}


.service_section .product_1_inside
{
  background-color: #00204a;
  color: #F2F0E1;
}

.service_section .product_2
{
  background-color: #00204a;
  color: #F2F0E1;
}

.service_section .product_2_inside
{
  background-color: #F2F0E1;
  color: #00204a;
}


.about_section {
  text-align: center;
  /* background-image: url("background.png");
  background-repeat: no-repeat;
  background-size: cover; */
  /* background-color: #BAE9EE; */
  background-color: #FFFFFF;
  color: #34495E;
}

.about_section_product {
  text-align: center;
  /* background-image: url("background.png");
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #BAE9EE;
  /* background-color: #FFFFFF; */
  color: #34495E;
}

.img_rounded_border
{
  border-radius: 20px;
}

.about_section h1
{
  font-size: 40px;
  font-weight: bold;
}

.about_section h1 span
{
  color: #00bbf0;
}

 .about_section_product .product_card
{
  /* border: 1px solid red; */
  transition: transform .2s; /* Animation */
} 

.about_section_product .product_card:hover {
  transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.about_section_product .product_card h5
{
  /* border: 1px solid red; */
  font-weight: bold;
} 

.about_section .heading_container {
  margin-bottom: 45px;
}

.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
          text-align: center;
}

.about_section .img-box
{
  text-align: center;
}

.about_section .img-box img {
  max-width: 80%;
}

.layout_padding_custom
{
  padding: 50px 200px 50px 200px;
}

.about_section .detail-box 
{
  text-align: center;
}

.about_section .detail-box h1 
{
  font-weight: bold;
  margin-bottom: 60px;
}

/* .slider_section .detail-box h1 span
{
  color: #00bbf0;
  text-shadow: 1px 1px 1px #FFF, 0 0 1px #FFF;
} */

.about_section .detail-box h3 {
  margin-bottom: 30px;
}

.about_section .detail-box p {
  margin-top: 15px;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #00bbf0;
  color: #ffffff;
  border-radius: 0px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  margin-top: 15px;
}

.about_section .detail-box a:hover {
  background-color: #007fa4;
}

.about_section .shop_all
{
  text-align: center;
  padding-top: 40px;
}

.about_section .shop_all .btn
{
  border: 1px solid black;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #BAE9EE;
  color: black;
}

.about_section .shop_all .btn:hover
{
  background-color: #f8f8f9;
  color: black;
}

.about_section .col-md-5
{
  text-align: start;
}

.why_points .col-md-10
{
  text-align: start;
  margin: 10px 0px;
}


.why_section .box {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.why_section .box .img-box {
  margin-bottom: 20px;
  width: 120px;
  height: 120px;
  min-width: 120px;
  min-height: 120px;
  border-radius: 100%;
  border: 5px solid #00204a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.why_section .box .img-box img {
  width: 55px;
  height: auto;
  fill: #00204a;
}

.why_section .box h5 {
  font-weight: bold;
  margin-bottom: 10px;
}

.why_section .box p {
  margin-bottom: 0;
}

.why_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.why_section .btn-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #00bbf0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.why_section .btn-box a:hover {
  background-color: #007fa4;
}

/*team section */
.team_section {
  text-align: center;
  background-color: #00204a;
  color: #ffffff;
}

.team_section .heading_container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team_section .team_container {
  padding: 0 15px;
}

.team_section .team_container .box {
  padding: 35px 0 0 0;
  border-radius: 5px;
  overflow: hidden;
  -webkit-transition: all .1s;
  transition: all .1s;
  margin-top: 45px;
  background: -webkit-gradient(linear, left top, left bottom, from(#002759), to(#002b64));
  background: linear-gradient(to bottom, #002759, #002b64);
}

.team_section .team_container .box .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team_section .team_container .box .img-box img {
  width: 120px;
  border-radius: 100%;
  border: 5px solid #ffffff;
}

.team_section .team_container .box .detail-box {
  margin: 25px 0;
}

.team_section .team_container .box .detail-box h5 {
  color: #00bbf0;
  font-weight: 600;
  position: relative;
}

.team_section .team_container .box .social_box {
  padding: 10px 45px 20px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team_section .team_container .box .social_box a {
  color: #ffffff;
  font-size: 22px;
}

.team_section .team_container .box .social_box a:hover {
  color: #00bbf0;
}

/*team section end*/
/* client section start */
.client_section .heading_container {
  margin-bottom: 30px;
}

.client_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px;
}

.client_section .box .img-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  margin-bottom: -50px;
  margin-left: 25px;
  position: relative;
}

.client_section .box .img-box img {
  border-radius: 100%;
}

.client_section .box .client_id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.client_section .box .client_id .client_info h6 {
  font-weight: 600;
  margin-bottom: 5px;
}

.client_section .box .client_id .client_info p {
  margin-bottom: 0;
  font-size: 15px;
  font-size: 14px;
  margin-bottom: 10px;
}

.client_section .box .detail-box {
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
  padding: 75px 25px 25px 25px;
}

.client_section .box .detail-box i {
  color: #00204a;
  margin-bottom: 10px;
}

.client_section .owl-carousel .owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.client_section .owl-carousel .owl-nav .owl-prev,
.client_section .owl-carousel .owl-nav .owl-next {
  width: 55px;
  height: 55px;
  background-color: #ffffff;
  color: #000000;
  outline: none;
  bottom: 0px;
  font-size: 24px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}

.client_section .owl-carousel .owl-nav .owl-prev:hover,
.client_section .owl-carousel .owl-nav .owl-next:hover {
  color: #00204a;
}

/* client section end */
.info_section {
  background-color: #00204a;
  color: #ffffff;
  padding: 45px 0 15px 0;
}

.info_section h4 {
  font-weight: 600;
  margin-bottom: 20px;
}

.info_section .info_col {
  margin-bottom: 30px;
}

.info_section .info_contact .contact_link_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info_section .info_contact .contact_link_box a {
  margin: 5px 0;
  color: #ffffff;
}

.info_section .info_contact .contact_link_box a i {
  margin-right: 5px;
}

.info_section .info_contact .contact_link_box a:hover {
  color: #00bbf0;
}

.info_section .info_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
}

.info_section .info_social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  border-radius: 100%;
  margin-right: 10px;
  font-size: 24px;
}

.info_section .info_social a:hover {
  color: #00bbf0;
}

.info_section .info_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info_section .info_links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  color: #ffffff;
}

.info_section .info_links a:hover {
  color: #00bbf0;
}

.info_section form input {
  border: none;
  border-bottom: 1px solid #ffffff;
  background-color: transparent;
  width: 100%;
  height: 45px;
  color: #ffffff;
  outline: none;
}

.info_section form input::-webkit-input-placeholder {
  color: #ffffff;
}

.info_section form input:-ms-input-placeholder {
  color: #ffffff;
}

.info_section form input::-ms-input-placeholder {
  color: #ffffff;
}

.info_section form input::placeholder {
  color: #ffffff;
}

.info_section form button {
  width: 100%;
  text-align: center;
  display: inline-block;
  padding: 10px 55px;
  background-color: #00bbf0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  margin-top: 15px;
}

.info_section form button:hover {
  background-color: #007fa4;
}

/* footer section*/
.footer_section {
  position: relative;
  background-color: #ffffff;
  text-align: center;
}

.footer_section p {
  color: #00204a;
  padding: 25px 0;
  margin: 0;
}

.footer_section p a {
  color: inherit;
}
/*# sourceMappingURL=style.css.map */


.center_ver_hor {
  margin: auto;

}



.product_section
{
  position: relative;
  /* background-color: #E5E5E5; */
  /* background-image: url("images/products/bg_wave_line.svg");
  background-repeat: no-repeat;
  background-attachment: fixed; */
}

.product_section .heading_container
{
  margin-bottom: 0px;
}

.product_section .carousel-item 
{
  height: 320px;
}

.product_section .carousel-indicators
{
  margin-bottom: 0px;
}

.product_section .carousel-indicators button
{
  background-color: black;
}

.product_section .shop_all
{
  text-align: center;
  padding-top: 40px;
}

.product_section .shop_all .btn
{
  border: 1px solid black;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #BAE9EE;
  color: black;
}

.product_section .shop_all .btn:hover
{
  background-color: #f8f8f9;
  color: black;
}

.product_section .row
{
  margin-bottom: 0px;
}

.product_section .box 
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 45px;
  background-color: #f8f8f9;
  padding: 20px;
  border-radius: 5px;
}

.product_section .img-box 
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  /* width: 125px;
  min-width: 75px;
  height: 75px;
  margin-bottom: 15px; */
}

.product_section .img-box img 
{
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.product_section .box .detail-box h5 
{
  font-weight: bold;
  text-transform: uppercase;
}

.product_section a 
{
  color: #00204a;
}

.product_section a:hover 
{
  color: #00204a;
}

.product_section .btn-box 
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.product_section .btn-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #00bbf0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.product_section .btn-box a:hover 
{
  background-color: #007fa4;
}

.product_section .my_container_1
{

  background-color: #f8f8f9;
}

.product_section .my_container_2
{

  background-color: #BAE9EE;
}

.product_section .product-card-1
{
  /* background-color: #f8f8f9; */
  width: 1200px;
  margin: auto; 
  padding-top: 50px;
  padding-bottom: 50px;
  /* scale: 1;
  transition-duration: 200ms;
  border-radius: 10px; */
  /* border: 2px solid red;  */

}

/* .product_section .product-card-1:hover
{
  background-color: #f8f8f9;
  scale: 1.05;
  transition-duration: 500ms;
  
} */

.product_section .product-card-1 .center 
{
  margin: auto;
  padding: 10px;
}



.product_section .product-card-1 h2
{
  font-size: 1.5rem;
  font-weight: bold;
  color: #00204a;
}

.product_section .product-card-1 h4
{
  font-size: 1.2rem;
  font-weight: bolder;
  color: #00204a;
}

.product_section .product-card-1 h5
{
  font-style: italic;
  font-size: 1rem;
  font-weight: bolder;
  margin: 10px;
}

.product_section .product-card-1 p
{
  font-size: 1rem;
  text-align: justify;
}

.product_section .product-card-1 .img-box img
{
  height: 350px;
  width: 500px;
  /* height: 100%;
  width: 100%; */
  border-radius: 10px;
}



.product_section .product_1
{
  background-color: #F2F0E1;
  color: #00204a;
}


.product_section .product_1_inside
{
  background-color: #00204a;
  color: #F2F0E1;
}

.product_section .product_2
{
  background-color: #00204a;
  color: #F2F0E1;
}

.product_section .product_2_inside
{
  background-color: #F2F0E1;
  color: #00204a;
}


.product_section .my_container_1 .sub_title_card
{
  text-align: center;
  /* background-color: #00bbf0; */
  color: #00bbf0;
  border: 1px solid #00bbf0;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.product_section .my_container_2 .sub_title_card
{
  text-align: center;
  /* background-color: #00bbf0; */
  color: #000;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}


.modal-title-type
{
  font-weight: bolder;
}



/* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1143%26quot%3b)' fill='none'%3e%3cpath d='M -71.04704128841138%2c91 C 24.95%2c134.6 216.95%2c302.4 408.9529587115886%2c309 C 600.95%2c315.6 696.95%2c85.4 888.9529587115886%2c124 C 1080.95%2c162.6 1176.95%2c508.6 1368.9529587115885%2c502 C 1560.95%2c495.4 1834.74%2c130 1848.9529587115885%2c91 C 1863.16%2c52 1521.79%2c263.8 1440%2c307' stroke='rgba(0%2c 187%2c 240%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -764.1733172964634%2c330 C -668.17%2c287.2 -476.17%2c116.4 -284.1733172964634%2c116 C -92.17%2c115.6 3.83%2c323 195.82668270353662%2c328 C 387.83%2c333 483.83%2c122.8 675.8266827035366%2c141 C 867.83%2c159.2 1002.99%2c416.2 1155.8266827035366%2c419 C 1308.66%2c421.8 1383.17%2c207.8 1440%2c155' stroke='rgba(0%2c 187%2c 240%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -798.1416863508911%2c454 C -702.14%2c393.4 -510.14%2c158.6 -318.14168635089106%2c151 C -126.14%2c143.4 -30.14%2c399.2 161.85831364910894%2c416 C 353.86%2c432.8 449.86%2c256.8 641.8583136491089%2c235 C 833.86%2c213.2 962.23%2c319.4 1121.8583136491088%2c307 C 1281.49%2c294.6 1376.37%2c199.8 1440%2c173' stroke='rgba(0%2c 187%2c 240%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -247.58242374277756%2c160 C -151.58%2c196.2 40.42%2c320.2 232.41757625722244%2c341 C 424.42%2c361.8 520.42%2c274.2 712.4175762572224%2c264 C 904.42%2c253.8 1000.42%2c309.8 1192.4175762572224%2c290 C 1384.42%2c270.2 1622.9%2c130.8 1672.4175762572224%2c165 C 1721.93%2c199.2 1486.48%2c401.8 1440%2c461' stroke='rgba(0%2c 187%2c 240%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -612.5570402203749%2c442 C -516.56%2c388.8 -324.56%2c172.2 -132.5570402203749%2c176 C 59.44%2c179.8 155.44%2c448.6 347.4429597796251%2c461 C 539.44%2c473.4 635.44%2c252.6 827.4429597796251%2c238 C 1019.44%2c223.4 1184.93%2c415.4 1307.4429597796252%2c388 C 1429.95%2c360.6 1413.49%2c158.4 1440%2c101' stroke='rgba(0%2c 187%2c 240%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -655.0199789138205%2c65 C -559.02%2c138.2 -367.02%2c410.6 -175.01997891382058%2c431 C 16.98%2c451.4 112.98%2c154 304.9800210861794%2c167 C 496.98%2c180 592.98%2c496.2 784.9800210861795%2c496 C 976.98%2c495.8 1133.98%2c177.6 1264.9800210861795%2c166 C 1395.98%2c154.4 1405%2c383.6 1440%2c438' stroke='rgba(0%2c 187%2c 240%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -500.1006600047726%2c171 C -404.1%2c214.4 -212.1%2c392.4 -20.100660004772593%2c388 C 171.9%2c383.6 267.9%2c156.2 459.8993399952274%2c149 C 651.9%2c141.8 747.9%2c358.4 939.8993399952274%2c352 C 1131.9%2c345.6 1319.88%2c119.8 1419.8993399952274%2c117 C 1519.92%2c114.2 1435.98%2c293.8 1440%2c338' stroke='rgba(0%2c 187%2c 240%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -241.64823357460395%2c195 C -145.65%2c238 46.35%2c418 238.35176642539605%2c410 C 430.35%2c402 526.35%2c163.2 718.351766425396%2c155 C 910.35%2c146.8 1006.35%2c363.6 1198.3517664253961%2c369 C 1390.35%2c374.4 1630.02%2c181 1678.3517664253961%2c182 C 1726.68%2c183 1487.67%2c335.6 1440%2c374' stroke='rgba(0%2c 187%2c 240%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1143'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e"); */